*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--cd-font);
    background: var(--cd-bg);
    color: var(--cd-text);
}

a {
    color: inherit;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}
