.cd-alert {
  position: relative;
  padding: 8px 12px 8px 36px;
  border-radius: var(--cd-radius-sm);
  font-size: 13px;
  font-weight: 600;

  p {
    margin: 0;
  }

  svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
  }
}

.cd-alert--danger {
  background: var(--cd-danger-light);
  border: 1px solid var(--cd-danger);
  color: var(--cd-danger);

  svg {
    color: var(--cd-danger);
  }
}